/* 
    Event View
*/

#object-view-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    overflow: hidden;
}

#feedback-view-individual-containers {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#feedback-view-individual-containers>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#feedback-view-individual-containers span, 
#feedback-view-individual-containers p, 
#feedback-view-individual-containers h3,
#overall-rating-display {
    margin: 0;
}

#overall-rating-display {
    font-size: 6rem;
}


#feedback-view-individual-containers h3 {
    font-size: 6rem;
}


#feedback-view-individual-containers p {
    font-size: 2rem;
    color: var(--baseSecondaryText);
}

#feedback-view-individual-containers span {
    font-size: 12rem;
    user-select: none;
    transition-property: scale;
    transition-duration: 250ms;
}

#feedback-view-individual-containers>div span:hover {
    scale: 1.05;
}



/*
    Event Creation
*/

#object-create-container {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#object-create-form>div {
    display: flex;
    justify-content: space-between;
}

#form-status-text {
    display: inline-block;
}